  @keyframes slide {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .animate-slide {
    animation: slide 1s ease-out forwards;
  }

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}
